[2013-10-27 16:28] yuvadm opened #1 "Granular JS blocking"
Current implementation entirely blocks JS code under the haaretz domain, this has the side effect of video clips and slideshows not working.

A better solution can just disable the annoying code that launches a JS alert and then redirects back to the homepage.

[2013-10-27 17:10] #1 closed, assigned to yuvadm

[2013-10-28 06:51] yuvadm opened #2 "Add some nice logos"

[2013-10-29 08:42] shaief opened #3 "Can't read talkbacks and see attached video clips"
The add-on works great, thanks!
Two things i noticed:
1. I can't read the talkbacks. When i click on a talkback i get back to the head of the page.
2. Attached videos appear as black areas.

[2014-05-14 14:28] #3 closed, assigned to nobody

[2014-08-08 18:13] yonatang opened #4 "You should block /st/inter/Hheb/paywall/scripts/bots.js as well."

[2014-08-08 19:39] #4 closed, assigned to nobody

[2014-10-20 19:18] da2r-20 opened #5 "javascript googlebot verification"
now they added some javascript code that checks if you are really a googlebot or not.
this redirects you back to a payment wall.

I've managed to bypass this by disabling javascript for the site, not the ideal solution.

[2014-10-21 11:16] #5 closed, assigned to nobody

[2014-10-21 11:18] yuvadm opened #8 "Error in onBeforeSendHeaders event handler"
This error shows up on the background page, seemingly without actually affecting behavior:

[code]

Probably want to fix this.

[2015-03-24 04:59] shririmps opened #9 "Reading List"
A significant part of the webpage is hidden by this explanation of the so called "Reading List". Although there's an X button to try and close this pop-under - it can not be closed. Also, it appears to happen on every page on the site. Perhaps it's an attempt to block the plugin users from seeing content, because when I turned off the plugin it did not appear at all.
![default](https://cloud.githu

[2015-03-24 09:26] yuvadm commented on #9
Yeah I noticed this as well. Added an extra CSS to fix this issue. Pushed new version `v0.4`.

[2015-03-24 09:26] #9 closed

[2015-03-24 13:43] shririmps commented on #9
Thanks for the quick reply.  :+1:

[2016-01-29 16:30] xspy007 opened #10 "FreeHaaretz (0.3.1 and 0.4) is blocking features on new site version (Jan 16)"
Haaretz made few code changes that now blocks some feature if the add on is enabled (chrome). any JS code is not responding or working properly if the add on is enabled.

1. can't rate or view comments
2. cant disable by clicking on X to "follow reporter" (new feature on top of each article)
3. special issue site also does not work properly and content is being overlapping by main image.
for examp

[2016-04-04 06:45] #2 closed

[2016-04-04 06:45] #10 closed

[2016-04-04 06:47] yuvadm opened #11 "Unified build script"
We can probably use npm out of the box to run
- the firefox jpm commands to generate an XPI (what about signing?)
- git archive on the chrome directory to generate the ZIP
- throw all artifacts into `dist/`

[2016-04-19 13:25] grebulon opened #12 "It stopped working"
They changed something again...

[2016-04-19 14:13] yuvadm commented on #12
You're going to have to provide more details:

- are you on the latest version?
- is addon disabled?
- firefox/chrome?
- when do pages seem blocked?

[2016-04-19 14:15] davidbgeek commented on #12
@grebulon In the meantime, you can get the xray chrome extension (it unblocks all sites): https://chrome.google.com/webstore/detail/xray/dgkdfehohjdbmnldpcegekjakcdjlnkg?utm_source=chrome-app-launcher-info-dialog

[2016-04-19 14:21] grebulon commented on #12
Very latest version, it's not disabled, tested on both firefox and chrome.
I get redirect to: http://www.haaretz.co.il/vblocked which shows a message: "אתר הארץ חסום לגולשים שמשתמשים בחוסם פרסומות". The blocker is disabled of course.
xray also crapped out...

[2016-04-19 14:25] davidbgeek commented on #12
@grebulon xray Oh! You're using the Israeli version... Haaretz.com gets unblocked by both. They probably implemented a new system on Haaretz.co.il

[2016-04-19 14:30] yuvadm commented on #12
@grebulon you're hitting their new anti ad-block script. this isn't covered by this addons. update your Israeli Easy List in your ad blocker, the have a fix in place.

[2016-04-19 14:30] #12 closed

[2016-04-19 14:49] grebulon commented on #12
Updating Easy List fixed the issue. However, I had to manually delete the redirect cookie.

[2016-04-19 14:53] yuvadm commented on #12
yeah they also plant a nasty cookie, i think i had to do that as well. glad you got it fixed!

[2016-04-21 23:31] LL25255252 opened #13 "The FF xpi at the homepage can't be installed."
The FF xpi at the homepage can't be installed.
https://github.com/yuvadm/free-haaretz

I extracted 0.7.1 version from the master.zip and it works fine.
BTW - version 0.4 worked fine for me. What are the main improvements of 0.7.1 ?
TIA.

Firefox 45.0.2
Win 7 x64

[2016-04-22 07:27] yuvadm commented on #13
Can you explain what exactly is failing? This might have to do with the links not pointing directly to the raw files, I fixed that now.

If it's still not working, please provide more details.

[2016-04-25 07:32] grebulon commented on #12
The adblockRedirect cookie appeared again. Perhaps need to block it somehow...
![adblock](https://cloud.githubusercontent.com/assets/324996/14776715/e57a9ee8-0ad0-11e6-81e7-304e488fa990.png)

[2016-04-25 10:42] yuvadm commented on #12
@grebulon see https://github.com/ABPIsrael/EasyListHebrew/issues/104

[2016-05-30 13:22] benklinger opened #14 "chrome disables after restart"
and there is no way to enable it back.
The only solution is to upload to the Chrome Store. Is the possible / legal?

[2016-05-30 14:57] yuvadm commented on #14
@benklinger what exactly gets disabled after restart?

[2016-05-30 15:54] benklinger commented on #14
I can't seem to reproduce it right now, but everytime I restart Chrome the extension is disabled and can't be enabled again:
https://www.dropbox.com/s/fxi9hsgp6eot5vx/Screenshot%202016-05-30%2018.53.40.png?dl=0

[2016-05-31 10:40] yuvadm commented on #14
@benklinger So no repro, and doesn't seem like an addon bug anyway. On a separate note you're on a *very* old version of the addon.

[2016-05-31 10:40] #14 closed

[2016-05-31 10:40] #13 closed

[2016-05-31 12:08] LL25255252 commented on #13
Sorry for the late response, and thanks for the fix. No problems in FF now.

[2016-05-31 12:23] yuvadm commented on #13
@LL25255252 didn't fix anything revently :) glad it works

[2016-05-31 12:46] LL25255252 opened #15 "Works on Palemoon with 0.4 but not with 0.7.1"
I tweaked the install.rdf to make the extension compatible with Palemoon also.

free-haaretz 0.4 FF & PM.xpi
https://mega.nz/#!c9MwBZKK!e_GU0bt0EtD0PUppbwknnLOK06nWJ0NBMrzPkB2cyaM
Works both in FF and PM

free-haaretz 0.7.1 FF & PM.xpi
https://mega.nz/#!lp1W0RBC!9--jhwezrFEGtfmiQRB-h73wgtVG52uOu3wUdjPHV8M
Works on FF 46.0.1
Not working on PM 26.2.2 (x64) (The site brings its paywall block)
e.g htt

[2016-05-31 16:40] LL25255252 commented on #13
@yuvadm It seems that you fixed it the same day I reported it (22 April) but I have forgotten to report back to this thread until today.

[2016-09-17 16:31] LL25255252 opened #16 "Gracefully handle URLs with referrers"
As you probably know one can can subscribe to - for example -  הכתבות הנקראות באתר הארץ - and get emails with links to haaretz articles.

Suddenly these last few days the extension can't unblock the articles referred to by those emails (the paywall message is displayed after 1-2 paragraphs).

The extensions continues to work fine if I manually remove the referrer part of the the URL.

So can you p

[2016-09-17 19:36] yuvadm commented on #16
@LL25255252 if you can provide a pull request that would be great, otherwise it's going to take me a few more days before I can patch this.

[2017-01-03 19:35] yuvadm commented on #11
We now use WebExtensions so unification is built in

[2017-01-03 19:35] #11 closed

[2017-01-03 19:39] yuvadm commented on #15
This issue seems to be stale, please reopen with further details if still not working on `v0.9`

[2017-01-03 19:39] #15 closed

[2017-01-03 19:42] yuvadm commented on #8
Error nowhere to be seen

[2017-01-03 19:42] #8 closed

[2017-01-03 20:46] antishok commented on #8
I'm still seeing it, FWIW, when going to the "Sources" tab in the devtools (on the haaretz page, not on the background page).

It makes sense I suppose, because they've changed how they load those urls you're trying to block - they are now minified, and opening the devtools loads the source-maps.

And regarding the error itself.. indeed [the docs](https://developer.chrome.com/extensions/webRequest

[2017-01-03 21:04] yuvadm commented on #8
@antishok heh, thanks for looking into this and replying! Any chance you wanna send a PR for this?

[2017-01-03 22:58] yuvadm commented on #8
@antishok from what I can tell, there's no erorr since this block is never actually executed - it looks like the bots script is no longer referenced. I'll probably just remove the stale code.

[2017-01-03 23:12] yuvadm commented on #16
Actually this is resolved now that the FF/chrome sources have been merged and use the same WebExtensions APIs.

[2017-01-03 23:12] #16 closed

[2017-01-03 23:45] antishok commented on #8
@yuvadm yeah I agree that it's probably not needed anymore as it is now..

They are still loading those same scripts, but they are now bundled into 2 minified bundles:

- http://www.haaretz.co.il/htz/js/resp/minified/header-scripts-int.js (contains adblockDetector.js and z_adblockutil.js)
- http://www.haaretz.co.il/htz/js/resp/minified/body-scripts-int.js (contains adblock.js)

So to block them it

[2017-01-04 08:25] LL25255252 opened #17 "The new 0.9 version doesnt work on Pale Moon 27"
First, thanks a lot for keeping this addon alive.

Last year I left "Firefox" and now I use Palemoon (which started as a Firefox Fork a few years ago) mainly since its great 27 version (November 2016).
Free Haaretz is the only addon I have which worked before on Firefox but doesn't work or have a replacement in Palemoon.
On the new 0.9 version I get - "addon seems to be corrupt"

On Cyberfox 50.1.

[2017-01-04 08:27] LL25255252 commented on #16
Yes, many thanks the issue is fixed.

[2017-01-04 09:09] yuvadm commented on #17
@LL25255252 thanks for the thorough report, of course I'll try to support this addons on as many brwosers as possible. Do you know if palemoon/cyberfox support the new WebExtensions API? Or how they expect an XPI to be packaged?

[2017-01-04 09:12] yuvadm commented on #8
@antishok keep in mind I'm not trying to handle the anti adblock scripts, those are already handled in https://github.com/easylist/EasyListHebrew so the only extra functionality I'm adding here is the user agent change, and blocking of any specific anti-bot scripts.

[2017-01-04 09:44] FreedomFighterSparrow commented on #17
@LL25255252, Pale Moon and Cyberfox are completely different beasts. It
seems that:

   1. CyberFox seems to be a simpler re-packaging with a different theme,
   and follows Firefox release closely - that is, their code is rebased every
   time. Therefore, I'm surprised the addon doesn't work for you there - it
   definitely should.
   2. Pale Moon is a fork of Firefox ESR 24, so no WebExtensions.

[2017-01-04 09:53] yuvadm commented on #17
@FreedomFighterSparrow in that case I am not interested in continuing support for Pale Moon, the cross-browser standards are converging around WebExtensions (supported on Firefox, Chrome and Opera). Feel free to take the [old Firefox XPCOM codebase](https://github.com/yuvadm/free-haaretz/tree/f216d62f82981965a630d7a8e734a7aa48e8cde5/firefox) and fork it into a version that works on Pale Moon.

As

[2017-01-04 16:43] antishok commented on #8
@yuvadm I see.. well I guess those scripts are not interfering right now. It's just good to keep in mind that they *are* being loaded and executed - easylist doesn't block them (and I'm not sure it can).

[2017-01-05 07:00] LL25255252 commented on #17
I updated the install.rdf of 0.7.1 and now it works on Cyberfox (I fixed my OP).
The new Free Haaretz 0.9 has no install.rdf so I don't know how to make it compatible with Cyberfox (I get "addon seems to be corrupt").

[2017-01-28 10:46] LL25255252 commented on #17
I don't why but I succeeded this time to install  0.9 on Cyberfox. Maybe it's because this time it's Cybefox 51 (not 50) or maybe it's because this time I decided to install CF without the CTR plugin (the "Classic Theme Restorer" addon).
I'll update the title of this "issue".

[2017-01-29 00:02] yuvadm commented on #17
@LL25255252 thanks for the update, in that case I'll go ahead and close the issue since there's nothing left to do for CF and as stated before support for PM is out of scope for this project.

[2017-01-29 00:02] #17 closed

[2017-03-27 23:23] LL25255252 opened #18 "Small documentation suggestion"
First, thanks a lot for fixing the addon. The previous 0.9 version has stopped working lately  and the new 0.9.1 fixed everything.

Only one small suggestion. Add "when upgrading from an older version make sure in the Addons Manager that it was overrided  and if not remove it" to the Troubleshooting segment of the addon homepage (the new 0.9.1 version has a different extension id than the 0.9 vers

[2017-03-28 06:25] yuvadm commented on #18
You are correct, there was a bug in the signing process on my side. I will push another release soon `v0.9.2` and will make sure only one proper extension ID is used. Thanks for the feedback.

Also if you see the extension is broken please open an issue, it took me a while to figure out that the bug was due to a behavior change in Firefox that started occuring "randomly" across users.

[2017-03-29 10:48] yuvadm commented on #18
Made some final changes and updated `v0.9.3`

[2017-03-29 10:48] #18 closed

[2017-04-12 23:07] jorjio opened #20 "0.93 xpi appears to be corrupt(?)"
hi,
trying to install the 0.93 xpi on firefox 53 x64 for windows-
shows "the add-on could not be installed because it appears to be corrupt"
the same xpi installed successfully on my firefox for android.

THANKS!!!

[2017-04-13 08:18] yuvadm commented on #20
Do other versions work? Did the file download properly?

[2017-04-13 10:14] jorjio commented on #20
I use your addon for years - it worked wonderfully - Thanks!
right now, when trying to install versions 0.9 - 0.93 on two different computers or on a fresh firefox profile it shows the corrupt issue.

what am i doing wrong?

Thanks for your time!

[2017-04-13 11:58] yuvadm commented on #20
@jorjio one more debugging step, try downloading the chrome ZIP, renaming it to an XPI, and try installing it (it will warn about it being unsigned, let it continue). Does that work?

[2017-04-13 15:18] jorjio commented on #20
no,
it doesn't work (renaming the chrome zip to xpi)
same error message as before "...appears to be corrupt"

thanks.

On Thu, Apr 13, 2017 at 2:58 PM, Yuval Adam <notifications@github.com<mailto:notifications@github.com>> wrote:

@jorjio<https://github.com/jorjio> one more debugging step, try downloading the chrome ZIP, renaming it to an XPI, and try installing it (it will warn about it being uns

[2017-04-27 06:16] yuvadm commented on #20
Reproduced this on another Windows machine. Doesn't seem to happen on Linux though.

[2017-04-30 14:25] yuvadm commented on #20
@jorjio can you please test `v0.9.4`? BTW it doesn't reproduce for me on Windows 10 32-bit on a VM.

[2017-04-30 17:41] jorjio commented on #20
sorry, same issue.
Now it wont install on my android firefox also (0.93 did got install successfully on android- only it forced a desktop versionof the website, and later it gave warning issue by the haaretz website itself - i guess they became aware of your addon).
btw i'm using firefox 54 - but i'm able to install unsigned extensions-  for instance from github directly..

thanks!

[2017-04-30 17:42] jorjio commented on #20
sorry, same issue.
Now it wont install on my android firefox also (0.93 did got install successfully on android- only it forced a desktop versionof the website, and later it gave warning issue by the haaretz website itself - i guess they became aware of your addon).
btw i'm using firefox 54 - but i'm able to install unsigned extensions- for instance from github directly..

thanks!
(i accidentally

[2017-04-30 19:18] yuvadm commented on #20
1. Which warning did you get? There are several possible warnings I can think of.
2. This extension is definitely signed, it's just not distributed via the Mozilla Store.
3. I still haven't pushed a version that handles mobile user agents properly, will get to it soon.

[2017-04-30 20:33] jorjio commented on #20
1.
![1384194_10151996632088665_902938707_n](https://cloud.githubusercontent.com/assets/5610394/25567748/74e57a08-2dfd-11e7-85e2-89a36ca05b8a.jpg)
 i cant recreate this message right now  - but i downloaded from a facebook group the same one i got (attached - mine was in english).
2. excuse me, i'm completely clueless on these matters - but i red somewhere that you should compress the xpi using zip

[2017-07-12 22:57] dants opened #21 "it seems the extension no longer works?"
At least not for me -- I'm no longer able to access Haaretz articles (Firefox 54.0.1 / Windows 10)

[2017-07-13 06:02] yuvadm commented on #21
@dants are you on the latest version 0.9.4?

[2017-07-13 08:12] dants commented on #21
Yes, before posting I reinstalled to use the latest version and restarted Firefox. But now it seems my report was a false alarm: as of this morning, I'm able to again view articles in their entirety (although I believe I didn't change anything). Anyway, thanks for the quick reply and sorry for the bother.

[2017-07-13 11:17] yuvadm commented on #21
Cool no problem. Sometimes they have weird cookies that can produce unspecified behavior. This can usually be solved by cleaning all haaretz cookies + local storage (`window.localStorage.clear()` in JS console on any haaretz page)

[2017-07-13 11:17] #21 closed

[2017-08-22 15:14] jon1012 opened #22 "New ad block feature redirects to blocking page"
Whenever I try to access using this extension, I get redirected to :
http://www.haaretz.com/hblocked

[2017-08-22 16:29] yuvadm commented on #22
@jon1012 please make sure you are using an ad blocker addons with the https://github.com/easylist/EasyListHebrew list installed

[2018-03-21 08:54] #22 closed

[2018-04-19 18:07] xspy007 opened #23 "Comments on Haaretz stopped showing"
For example
https://www.haaretz.co.il/news/politi/.premium-1.6012551

There suppose to be 200+ comments, but none are showing.

Turning off the extension will resume the comments list, but no article :-(

10x

[2018-05-13 17:42] antishok commented on #23
This has started working fine again, at least for me.  (on that specific link there are over 700 comments, it took a while to load but they showed up eventually)

[2018-05-13 19:44] yuvadm commented on #23
The extension doesn't do any script blocking (there is some CSS element blocking, but it might be useless nowdays), so it shouldn't affect page behavior. Please make sure you're on the latest release, and double check.

Unless a specific buggy behavior can be shown, I'm inclined to close this issue.

[2018-05-13 19:46] yuvadm commented on #20
This seems to be an old issue, I'm closing it. Please re-open this issue or a new one with further details if the latest release is buggy.

[2018-05-13 19:46] #20 closed

[2018-05-13 19:47] xspy007 commented on #23
Hello

yes, a few days ago it suddenly started working again.

wonder way...

no change to the extension was made at any time.

10x, Udi

On Sun, May 13, 2018 at 10:44 PM Yuval Adam <notifications@github.com>
wrote:

[2018-05-13 19:54] yuvadm commented on #23
Upstream issue in that case. Closing.

[2018-05-13 19:54] #23 closed

[2018-06-25 14:54] guysoft opened #26 "Seems not to be working"
Hey, tested on firefox 60 and does not seem to be working, try:
https://www.haaretz.co.il/food/food-news/.premium-1.6195803

[2018-06-25 15:33] yuvadm commented on #26
That specific link is 404, and other pages work for me. Are you on the latest version of the addon?

[2018-06-25 15:34] guysoft commented on #26
I got if from here: https://github.com/yuvadm/free-haaretz#firefox

[2018-07-06 10:38] yuvadm commented on #26
@guysoft if you can provide further information on what is broken, please update this issue. Closing otherwise.

[2018-07-06 10:38] #26 closed

[2018-08-22 13:23] identikitor opened #27 "Changes to paywall?"
Worst day ever
![image](https://user-images.githubusercontent.com/42611197/44465928-a2333380-a627-11e8-89e1-858c30dc6082.png)

[2018-08-22 14:24] dotandimet commented on #27
:sob:

[2018-08-22 14:50] xspy007 opened #28 "haaretz found a way to detect the add on and block access to the site"
Hey

pls check haaretz.  they are preventing from any use unless u disable the free haaretz add on.

Pls solve it as soon as possible,  this is one of the best.

Udi

[2018-08-22 15:00] yuvadm commented on #27
Probably some new detection script was added.

I don't have time to handle this, if anyone can do some research and find the relevant script that would be great.

Alteranatively, use script blockers, uMatrix is highly recommended.

[2018-08-22 15:00] yuvadm commented on #28
Duplicate of #27

[2018-08-22 15:00] #28 closed, assigned to nobody

[2018-08-22 15:04] ilanbm commented on #27
fastest solution would be removing the div with id "botspopup_wrapper" when it appears

[2018-08-22 15:08] xspy007 commented on #27
Ilan
What do u mean by removing?  Yuval should do that?

uMatrix is for firefox, any good alternative for chrome ?

There are thousands of users for this add on, and its important for the democracy and free speach, pitty haaretz are choosing to disregard it and demand payment many cant or will not afford to them selves, when haaretz is such an important voice.

hopefully a solution will arrive.

1

[2018-08-22 15:14] yuvadm commented on #27
It seems that if https://github.com/easylist/EasyListHebrew is used the specific blocking script doesn't execute. This is probably the "right" solution as some of the blocking behavior already depends on the ad block list.

[2018-08-22 15:29] yoavstein commented on #27
This will solve the issue:
add to the css file
#botspopup_wrapper{
	display: none;
}
#botspopup {
	display: none;
}

[2018-08-22 15:53] xspy007 commented on #27
GR8
Solved.

[2018-08-26 07:24] grebulon commented on #27
Please make a signed .xpi. Firefox won't install the unsigned addon, claiming that "it appears to be corrupt".

[2018-08-26 08:54] yuvadm commented on #27
@grebulon Sorry I still haven't had the time to do a release. Some other devs will be joining the effort shortly and helping out. In the meantime you can do a temporary install https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Temporary_Installation_in_Firefox

[2018-09-13 08:27] Rogozai opened #31 "Stopped working"
Hi,

Can you please check why i'm getting the buy promotion popup?

thanks

[2018-09-27 08:03] Nirsch1 commented on #27
It seems like haaretz.co.il has just removed the annoying pop-up altogether. Cheers!

[2018-09-28 06:48] HarSuthep opened #32 "Blocked by Haaretz since this morning"
הדפדפן שברשותך מנסה לעקוף את מנגנון התשלום של הארץ
אתר זה זמין באופן מלא למנויים בלבד

[2018-09-29 15:35] antishok commented on #32
Adding these filters to my adblocker (ublock origin) fixed it:
`||www.haaretz.co.il/htz/js/inter.js`
`||www.themarker.com/st/c/static/heb/inter.js`

(the themarker.com one is important for haaretz site too)

[2018-09-29 17:11] HarSuthep commented on #32
thanks  !

[2018-10-01 07:07] bokagit commented on #32
GREAT!

[2018-10-01 09:59] Neter56 commented on #32
Thanks, that works for me too!

[2018-10-02 08:31] Nirsch1 commented on #32
In ublock-origin, I've added the aforementioned 2 filters to the "My filters" tab.
But alas - I get a message that "the Haaretz site is blocked to surfers that use a pop-up blocker".
But when I put haaretz.co.il in the whitelist of ublock-origin, I get the "your blowser tries to bypass Haaretz's paywall" message all over again!
The whitelist is colliding with the filter-list!

[2018-10-02 15:56] maxter161 commented on #32
you should also add this to your filters:
||www.haaretz.co.il/htz/js/resp/minified/body-scripts-int.js

[2018-10-02 16:57] LL25255252 commented on #32
@maxter161 ,can you please post a link for example where this filter is needed (because after adding @antishok 2 filters everything seems to be OK for me).

[2018-10-02 17:51] Nirsch1 commented on #32
I'm using ublock-origin, and I've put the 3 filters in it.
This add-on constantly tries to block the ads of Haaretz, which apparently "pisses them off".
So when I try to get, for instance, to https://www.haaretz.co.il/gallery/mejunderet/.premium-1.6516857 ,
I get redirected to https://www.haaretz.co.il/hblocked

[2018-10-02 18:26] LL25255252 commented on #32
@Nirsch1 no issues for me with the link you posted (uBO with @antishok 2 filters and without @maxter161 filter).

[2018-10-02 18:36] Nirsch1 commented on #32
@LL25255252 have you put Haaretz.co.il into the whitelist of ublock-origin?

[2018-10-02 20:03] LL25255252 commented on #32
No (and I don't have any anti-adblock script/extension. Just uBO).

[2018-10-03 00:39] antishok commented on #32
I would __not__ recommend blocking that file - it contains many scripts that haaretz site uses. Blocking it causes comments on articles to not show up, and probably disables other functionality on the site too.

@Nirsch1 I don't know what to advise, except - make sure you enabled "EasyList Hebrew", delete all cookies/cache of haaretz.co.il

[2018-10-03 01:20] antishok commented on #32
Another thing you can try: manually add a cookie `HtzPusr` with value 1.
You can do it like this:
- Browse to haaretz.co.il
- Open your browser's devtools JS console tab (F12 to open devtools)
- Run this line of code (paste it to the console and press enter):
      `document.cookie = 'HtzPusr=1'`

It might fool their code to make it think you're a paying customer. Seems to actually work, from my q

[2018-10-03 09:57] Nirsch1 commented on #32
Ho my Gosh, @antishok, it actually works!
uBlock feels like it filters the ads on Haaretz, but it actually doesn't!
Double cheers! :+1::+1:

[2018-10-04 06:52] adibiton commented on #32
After adding this two lines to ublock origin filter

||www.themarker.com/st/c/static/heb/inter.js

This page works:
 https://www.haaretz.co.il/gallery/mejunderet/.premium-1.6516857

However this:
https://www.themarker.com/dynamo/cars/.premium-1.6529288
doesn't

Anyone has any clue?

[2018-10-04 11:19] Nirsch1 commented on #32
Have you followed @antishok's instructions?
i.e. https://github.com/yuvadm/free-haaretz/issues/32#issuecomment-426482052

[2018-10-04 13:18] adibiton commented on #32
Yes, is it working for you? (i'm getting 'for reading the full article buy...')

[2018-10-04 13:49] LL25255252 commented on #32
Everthing works fine for me with @antishok 's instructions. However there's an issue with Themarker comments.
No need for me to disable uBO on Haaretz but if I want to see the comments section on TheMarker I do need to disable uBO.
Tested on @adibiton link - https://www.themarker.com/dynamo/cars/.premium-1.6529288

[2018-10-04 13:52] antishok commented on #32
@adibiton it's working for me.  have you installed the latest version of free-haaretz? previous versions used to only work on haaretz
You can try to do my steps from the comment above (adding the cookie manually) but on themarker.com instead of haaretz.co.il

@LL25255252 comments working fine for me on themarker, fwiw

[2018-10-04 13:55] antishok commented on #32
Oh actually @adibiton, it's a different cookie name on themarker.com - cookie is `TmPusr`.
So on themarker.com you can try running: `document.cookie = 'TmPusr=1'`

[2018-10-04 14:13] adibiton commented on #32
After upgrading to the latest version - it's working!!

[2018-10-04 14:20] LL25255252 commented on #32
@adibiton can you see the comments on themarker page without disabling uBO (as I said before I can see them only if I disable UBO on themarker.com) ?

[2018-10-04 14:22] adibiton commented on #32
@LL25255252 yes, i can see comments on themarker page without disabling uBO

[2018-10-06 21:35] xspy007 opened #36 "Since thursday, 4/10, Haaretz is blocking the add on"
טרם ביצעת
אימות
לכתובת הדוא"ל
שלך.

לאימות כתובת הדוא"ל שלך

לחצו כאן
סגירה
הודעת האימות נשלחה לחשבון הדוא"ל שלך -

יש לאשרו מתוך ההודעה שקיבלת כדי לסיים את התהליך.

התרחשה שגיאה,

אנא נסו שנית במועד מאוחר יותר או צרו קשר עם

שירות הלקוחות.

[2018-10-07 09:54] LL25255252 commented on #36
I get the same messages on Waterfox 56.2.3 (Waterfox is based on FF56).
@xspy007 which browser and OS do you use ?

Windows 7 x64
free haaretz 0.9.7

BTW - sometimes a simple Reload of the page fixes the problem but not this time (in Waterfox).

@yuvadm can you please make your addon compatible with Waterfox ?

[2018-10-07 10:02] xspy007 commented on #36
Windows 10\8.1
Chrome, latest beta

[2018-10-10 16:47] antishok commented on #36
Have you tried the solutions from #32 ?
Adding the 2 scripts to your adblocker filters, and manually adding the cookie.

I use FF, but tried with chrome now and adding the 2 filters fixed it. Make sure to clear the cookies&cache too, and that you have EasyList hebrew selected in adblocker.

[2018-10-10 16:51] xspy007 commented on #36
tried over and over

dosent work
and all adblockers are disabled on haartetz

10x

On Wed, Oct 10, 2018 at 7:47 PM Uri Gilad <notifications@github.com> wrote:

[2018-10-10 18:31] antishok commented on #36
can you even load the site, when adblock and free-haaretz is disabled? i.e. like a regular anonymous user
does it happen on the homepage too, or only on premium articles, or what?
can you check with non-beta chrome?

[2018-10-10 21:48] xspy007 commented on #36
Uri,

1. Its also happening on the homepage. it is loading but than "disappears"
(i.e. blank page). i can manage by trying\ fighting against the browser
with stop loading (X) button, but it is a real war against time every time

2. it is on all haaretz pages

3. disabling the free haarettz add on SOLVE this problem, but it dosent
solve the problem free haaretz was meant to solve  :-)

4. no relati

[2018-10-18 10:00] grebulon opened #37 "x"

[2018-11-09 13:33] MrTal opened #38 "stopped work in Chrome"
היי,
הפסיק לעבוד בארץ בגוגל כרום, שנכנסים לאתר עם התוסף האתר לא עובד בכלל ומציג דף ריק לבן:
צילום מסך: http://prntscr.com/lgazhv
קורה בכרום
תודה!

[2018-11-19 09:31] rugabunda commented on #38
Its the only one that works for me just fine, however other paywall bypassers stopped working; try deleting your cookies

[2018-11-28 09:26] richards1052 opened #39 "Works great in Firefox, but not in Chrome"
I've got the extension installed in Chrome and I can see it in my extension list, but when I paste a Haaretz URL into my address bar I get the usual behavior and am blocked by the site.

**UPDATE**: I paused my ad blocker for Haaretz.co.il in Chrome and now it works!  I didn't realize the ad blocker could conflict with the extension.

The extension works perfectly in Firefox though.

[2018-12-19 15:27] pashosh commented on #32
https://twitter.com/shefi89/status/1075386849009508352

[2019-01-22 11:09] grebulon opened #40 "xx"

[2019-05-30 12:48] classigit opened #41 "is it possible to add ynet ?"

[2019-06-06 06:14] tworepetae opened #42 "Haaretz redesign caused new issues"
Hi.
1. On Firefox (windows 10) the comments section stopped loading.
2. On Firefox mobile (android) trying to open paywalled articles leads to homepage.

Please look into this,
Thanks.

[2019-06-06 07:57] Nirsch1 commented on #42
3. On Firefox (Windows 10 and Windows 7), trying to open a paywalled article leads to a loop between the wanted page and the https://www.haaretz.co.il/hblocked page.

[2019-06-17 09:50] Nirsch1 opened #43 "Problems blocking ads"
1. On Firefox (Windows 10, Windows 7 and Android), When using the "uBlock Origin" add-on, trying to open a paywalled article leads to a redirection to the page https://www.haaretz.co.il/hblocked .
2. The adding of the following lines to "uBlock Origin" -> "My Filters" doesn't help:
||www.haaretz.co.il/htz/js/inter.js
||www.themarker.com/st/c/static/heb/inter.js
3. The adding of the following cooki

[2019-06-18 07:01] Nirsch1 commented on #32
Hey, guys! A new blocking problem has recently appeared:

1. On Firefox (Windows 10, Windows 7 and Android), When using the "uBlock Origin" add-on, trying to open a paywalled article leads to a redirection to the page https://www.haaretz.co.il/hblocked .
2.  The adding of the following lines to "uBlock Origin" -> "My Filters" doesn't help:
    ||www.haaretz.co.il/htz/js/inter.js
    ||www.themarke

[2019-06-18 15:41] antishok commented on #43
FWIW, I can still open paywalled articles fine, just the comments have not been showing since recently. I'm on firefox, win10.
Try maybe deleting all the site's cookies/data

[2019-06-20 06:51] Nirsch1 commented on #43
Which version of Firefox are you using?
I can't open paywalled articles in Firefox version 66.0.4 (32-bit).

BTW, I can't open paywalled articles in Chrome either [version 75.0.3770.100 (Official Build) (64-bit)].

[2019-06-21 16:36] antishok commented on #43
I'm using FF 67.0.2 (64-bit),  I doubt it has to do with the version (as long as you're on a recent one).
And I am seeing the same behaviour in Chrome (the articles load ok, just comments are missing)

[2019-06-22 14:11] avivmu opened #44 "Specific article not loading"
I'm working with firefox version 67.0.4 (64-bit), Windows 10 and also have uBlockOrigin.
Im able to view some articles, but some not.
This one works for me: https://www.haaretz.co.il/gallery/galleryfriday/.premium-MAGAZINE-1.7361690
However, this one doesn't show any content: https://www.haaretz.co.il/captain/net/.premium-1.6851274

[2019-06-27 13:56] Nirsch1 commented on #43
I've added "EasyList Hebrew" to the filter-list of "uBlock Origin", and the problem seems to be solved! Thanks for your answers, antishok!

[2019-06-27 13:59] Nirsch1 commented on #44
I bumped into this problem yesterday (27/6), but it seems to be working now.

[2019-06-27 14:03] Nirsch1 commented on #32
I've added "EasyList Hebrew" to the filter-list of "uBlock Origin", and the problem seems to be solved!
This can be done like so:
1. Go to https://filterlists.com
2. In the search bar enter: EasyList Hebrew.
3. In the "EasyList Hebrew" line, press on the button "Details".
4. Now press "Subscribe" and "OK".

That's it!
(Take a look at https://github.com/yuvadm/free-haaretz/issues/32#issuecomment-42

[2019-06-27 20:53] hemulin commented on #43
@Nirsch1 Can you please provide step by step instructions?

[2019-06-28 14:46] Nirsch1 commented on #43
Hey @hemulin.
1. Go to https://filterlists.com
2. In the search bar enter: EasyList Hebrew.
3. In the "EasyList Hebrew" line, press on the button "Details".
4. Now press "Subscribe" and "OK".

That's it!

[2019-06-29 08:55] avivmu commented on #44
@Nirsch1 Works for me as well, I'll close this issue

[2019-06-29 08:56] #44 closed, assigned to nobody

[2019-07-07 11:46] #43 closed, assigned to nobody

[2019-07-12 11:56] avivmu commented on #40
@grebulon If you need it because of the annoying chrome popup, See [this SO answer ](https://stackoverflow.com/a/38011386/2719361)to get rid of the popup.

[2019-08-19 18:56] avivmu commented on #37
@grebulon can't you close it if you are the opener?

[2019-08-31 04:09] shenzhenjinma opened #45 "Can you receive my e-mail for a@abcd.ee?"

[2019-08-31 04:18] #45 closed

[2019-09-27 06:56] xspy007 opened #46 "הארץ שינו עיצוב והתוסף הפסיק לעבוד"
שלום יובל
הם כל הזמן בשנה האחרונה מנסים לשבש את התוסף שפיתחת
כעת הם ביצעו שינויים בהפניות וב URL
כך שהתוסף לא עובד עכשיו בכלל

יש אפשרות לסדר את זה בבקשה?  יש לתוסף הזה עשרות אלפי משתמשים
וזה שירות דמוקרטי ממעלה ראשונה בתקופה כזו

תודה רבה

[2019-09-28 15:36] antishok commented on #46
Hi. You can try to block these scripts in your adblocker filters.
Every once in a while they add/change it and a new url needs to be blocked..

[code]

[2019-10-04 09:45] tworepetae commented on #46
I'm experiencing the same issue as the OP. But those scripts @antishok mentioned don't appear in the ublock logger, so perhaps they made some other change?

[2019-10-04 10:14] tworepetae commented on #42
After a few recent Firefox updates the issue disappeared by itself...

[2019-10-04 11:22] xspy007 commented on #46
Hi All

Haaretz started to change the URL, as so the add on is not working

https://www.haaretz.co.il/gallery/television/lazy-eye/.premium.highlight-1.7925476

Instead of just "premium"

That’s what I think.

10x

From: tworepetae <notifications@github.com>
Sent: Friday, October 4, 2019 12:46 PM
To: yuvadm/free-haaretz <free-haaretz@noreply.github.com>
Cc: xspy007 <udi.heller@gmail.com>; Author <a

[2019-10-04 15:13] antishok commented on #46
@tworepetae I'm not sure if they would appear in ublock's logger, because they are "chunks" of code that is dynamically loaded by some framework they are using. Blocking those chunks is still working fine for me, and for a friend of mine.
(In addition of course, to having free-haaretz installed, and Easylist Hebrew selected in ublock origin)

[2019-10-05 09:20] xspy007 commented on #46
תשמעו התוסף פשוט הפסיק לעבוד, וזהו. יש מלא שגיאות ואגב, חוסמי הפרסומות מושבתים בכלל. תודה

A cookie associated with a cross-site resource at http://google.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>C

[2019-10-05 10:01] Clegane84 commented on #46
Hi Guys,

It seems some links still work while some are blocked, first here's an example for 2 links that are blocked, no matter what I've tried (filtering "chunks" in ublock, signing in and out, incognito, different browsers etc....):
https://www.haaretz.co.il/gallery/television/lazy-eye/.premium.highlight-1.7925476
https://www.haaretz.co.il/news/elections/.premium.highlight-1.7942845

What seems

[2019-10-06 14:22] antishok commented on #46
@Clegane84 thanks for the info.  Your first link works ok for me, the 2nd one indeed is blocked.
But I unblocked it by removing the `.highlight` part from the URL: https://www.haaretz.co.il/news/elections/.premium-1.7942845
That loads fine for me.  But it doesn't work on all ".highlight" URLs..

[2019-10-06 14:26] xspy007 commented on #46
I think an updated version of the add on is welcomed. A long time since it was and haaretz certainly made all kind of changes

10x!

From: Uri Gilad <notifications@github.com>
Sent: Sunday, October 6, 2019 5:23 PM
To: yuvadm/free-haaretz <free-haaretz@noreply.github.com>
Cc: xspy007 <udi.heller@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [yuvadm/free-haaretz] הארץ שינו עיצוב והתוסף

[2019-10-07 07:10] Clegane84 commented on #46
Yep I've noticed this behavior as well, for some reason removing the "highlight" works on some URL's but not all.

[2019-11-03 06:58] xspy007 commented on #46
שלום לכולם

 <https://www.haaretz.co.il/gallery/television/tv-review/.premium.highlight-1.8067524> https://www.haaretz.co.il/gallery/television/tv-review/.premium.highlight-1.8067524

הארץ ממשיך להרחיב את השימוש ב highlight  בשורת ה URL ולבסוף יחסום את כל האתר בצורה הזו

האם יש כוונה לעדכן את התוסף?   כי עבורי ואני מניח שעבור רבים, אין דרך לעקוף וזה לא עובד בשום צורה אחרת, כולל הסרת highlight מה U

[2019-11-03 09:26] xspy007 opened #47 "premium.highlight"
Haaretz start adding premium.highlight to the url and the add on is not working.

will there be an update or this project has been abandon ?

[2019-11-04 08:59] xspy007 commented on #46
היי יובל

יהיה פתרון ?  או שוויתרת?

תודה

From: Udi Heller (Gmail) <udi.heller@gmail.com>
Sent: Sunday, November 3, 2019 8:58 AM
To: 'yuvadm/free-haaretz' <reply@reply.github.com>; 'yuvadm/free-haaretz' <free-haaretz@noreply.github.com>
Cc: 'Author' <author@noreply.github.com>
Subject: RE: [yuvadm/free-haaretz] הארץ שינו עיצוב והתוסף הפסיק לעבוד (#46)

שלום לכולם

 <https://www.haaretz.co.il/gall

[2019-11-04 09:11] yuvadm commented on #46
The addon as it currently exists doesn't have any strategy for handling these URLs. I'll happily accept any PRs if anyone is interesting in doing the research on it.

[2019-11-04 09:18] eyalgindi commented on #46
Guys, if you have any page which is blocked and with some (manual) URL or any other modification you were able to pass through, please comment with such an example, so we can try and find a generic way to modify the addon to work with the latest changes.

[2019-11-04 09:48] xspy007 commented on #46
Hey

https://www.haaretz.co.il/opinions/.premium.highlight-1.8069289

if u try dismissing the .highlight there is a redirection back to the original URL so u cannot bypass it.

The same way the add on handless the .premium, it should now handle the .premium.highlight ?

10x

From: eyalgindi <notifications@github.com>
Sent: Monday, November 4, 2019 11:18 AM
To: yuvadm/free-haaretz <free-haaretz@nor

[2019-11-04 10:49] eyalgindi commented on #46
OK,
Find out that the URL redirection is being done locally based on a pre-loaded code on request time, that's why ublock script blocking didn't help.
Skimming the code, I've noticed the below line, which might be the flag for hiding the content.

</script><meta property="isPremiumContent" content="true"/><meta property="article:content_tier" content="locked"/>

Will continue investigation later o

[2019-11-04 20:50] LL25255252 commented on #46
Works fine for me on all those 3 links (except the comments - as usual for me, if I want to read the comments I use another browser without the extension) .
Tested both on Firefox 70.0.01 (64bit) and Waterfox Classic

uBlock Orgin w (with EasyList Hebrew filter but without any other tweaks )
Win 7 x64

[2019-11-04 21:19] LL25255252 commented on #46
OK... while still not being blocked on @Clegane84 links it happened to me on this link - https://www.haaretz.co.il/gallery/television/tv-review/.premium.highlight-1.8070572

... So maybe the new ".premium.highlight" mechanism only effects NEW URLs ? If so how many days it take for a URL to change its category from NEW to OLD ?

[2019-11-05 21:53] roeyzaw1 commented on #46
Hi all,

I've taken a brief look at the new HTTP request.
What is interesting is z-actions-log parameter, which is added now with "super content blocked"

I suspect that Haaretz has now added a reverse DNS lookup before serving the webpage:
https://support.google.com/webmasters/answer/80553?hl=en

[2019-11-08 07:18] Clegane84 commented on #46
The links you are referring to in your post are already obsolete, as Haaretz remove the "highlight" tag from an article after a while (could be anything from a few days to weeks, from my experience). Right now manually removing the "highlight" part from the URL only works on a tiny fraction of articles, while 99% will not work following this manipulation (the page will simply refresh with the "hig

[2019-11-24 13:46] xspy007 commented on #46
Hey Guys

Haaretz is spreading the assimilation of the ".premium.highlight" across all sections and articles.

Anything that can or will be done?  o/w the add on is becoming useless.

I think that Haaretz is, by his own hands, losing the democratic battle and leave the field open for those who act against it by releasing their poisoning content freely.

10x

From: Clegane84 <notifications@github.c

[2020-01-13 09:22] Nirsch1 commented on #46
Hey guys!
Was there any progress in this matter, in the last few months ?

[2020-07-21 13:59] #40 closed, assigned to nobody

[2020-07-21 14:00] #37 closed, assigned to nobody

[2020-10-03 20:36] bereld opened #48 "Talkbacks aren't shown on Android"
Hi

Very nice add-on, but using Android, on TheMarker site, when the add-on is enabled - talkbacks are not shown.
If I disable the add-on, the article itself is blocked (by the paywall) but the talkbacks are visible.

**This only happens on android, checked in firefox & kiwi browsers. On PC everything is OK.

Can you fix this please?
Thanks

[2020-11-02 14:14] maxim-sm opened #49 "Haaretz and TheMarker status code 403"
Hi,

Thanks for the add-on!
It seems that Haaretz (and TheMarker) are detecting the add-on and are throwing error 403 when trying to access any page from these domains.
Same issue is occurring with Bypass Paywalls extension:
https://github.com/iamadamdev/bypass-paywalls-chrome/issues/1004

Tested on Firefox:
**Desktop Version:** 82
**Mobile Version:** 68.10
**Add-On Version:** 0.9.7

![1](https://

[2020-11-02 17:45] maxim-sm commented on #49
An interesting finding from the issue linked in the OP. Apparently the issue is with the user-agent (Googlebot).

[2020-11-02 17:54] almog commented on #49
@maxim-sm The problem is likely not with the user agent string, but rather with it (finally?) being validated, probably using reverse dns-lookup.

I've noticed that I only get an error when using the google-bot agent, whereas the Bing user agent (see https://github.com/almog/free-haaretz/commit/4ebbe85f3705cd196fdc12d88789ef0863b768fa) still bypasses the paywall.
I also tried Duck Duck Go and Yand

[2020-11-03 12:39] borges136 commented on #49
managed to create a working XPI (attached here as ZIP but it's same) by uploading it as an unlisted extension to addons.mozilla.org and downloading the signed version.

[free_haaretz.zip](https://github.com/yuvadm/free-haaretz/files/5481219/free_haaretz.zip)

[2020-11-03 21:11] pedroan02 opened #51 "android problem"
the patch works grate! but seems that the new patch not working on android (kiwi browser)
any clue?

[2020-11-04 07:52] Nirsch1 commented on #51
In Firefox, Windows 10, it works great for me to.
But in Firefox, Android, the "Error 403 Forbidden" message still remains )-:

[2020-11-05 00:20] murad2019 commented on #49
@borges136   thank you   it works  now :)

[2020-11-06 12:05] potsdam78 commented on #49
@borges136
Any way to download it as XPI on android? Firefox doesn't allow manual installation of XPIs from the device, only via links (at least on android).

[2020-11-06 16:20] borges136 commented on #49
sorry @yoavsapir , i don't have an android device... try with this link maybe? https://srv-store5.gofile.io/download/pWlfyb/free_haaretz-0.9.7-fx.xpi

[2020-11-10 17:13] lama1245 opened #52 "Its still not working"

[2020-11-14 22:59] efraim-il commented on #52
+1

[2020-11-29 00:22] Miscbrah87 commented on #52
It's not working for me on Firefox either - both windows and Android. I get 403 forbidden

[2020-12-03 13:44] YTYTYTYTYTYTYTYTYT commented on #52
+1

[2021-05-18 00:26] Typharon opened #54 "403 error still causing problems"
using chromium I am still gettting 403's with the newest chrome update

[2021-05-18 11:14] hamavreg1983 commented on #54
the files here have not been updated in a while.
You can download a fix for the 403 error at my fork
https://github.com/hamavreg1983/free-haaretz

[2021-08-23 12:10] nadav74 commented on #54
Your version stopped working today too.

[2021-09-29 08:19] hamavreg1983 commented on #54
workaround: refresh page.

[2021-10-12 00:25] baldamundo commented on #54
Trying to install on Firefox it tells me the file's corrupt

[2021-12-06 16:04] bmapok opened #55 "403 guru maditation"
Hello
Any way to bypass this error on firefox?
while trying to dl xpi from https://github.com/hamavreg1983/free-haaretz, says file corrupt.
Thanks for ur work!

[2021-12-06 17:52] hamavreg1983 commented on #54
try now
https://github.com/hamavreg1983/free-haaretz/raw/master/releases/download/v0.9.8/free_haaretz.xpi

[2021-12-06 17:54] hamavreg1983 commented on #55
in firefox the downloaded file needed to be signed.
try now
https://github.com/hamavreg1983/free-haaretz/raw/master/releases/download/v0.9.8/free_haaretz.xpi

[2021-12-06 18:32] bmapok commented on #55
Thx for ur prompt response. unfortunately still in 403 error:(

[2022-08-23 23:42] semiramis444 opened #56 "Error 403 Forbidden message"
page won't open, get below error message:

Error 403 Forbidden
Forbidden

Error 54113
Details: cache-sof1510068-SOF 1661298114 146881536

Varnish cache server